{% extends 'layouts/app.twig' %}

{% block content %}

<h1>Images</h1>

<p>Supported formats: {{ imageFileTypes }}.</p>

<fieldset>
	<legend>Upload</legend>
	<form action="{{ url_for('images.upload') }}" method="POST" enctype="multipart/form-data">
		<input type="file" name="imageFiles[]" multiple="true" />
		<input type="submit" value="Upload image(s)" />
	</form>
</fieldset>

<fieldset>
	<legend>Download</legend>
	<form action="{{ url_for('images.download') }}"  method="POST" enctype="multipart/form-data">
		<label for="md5File">MD5 file:</label>
		<input id="md5File" type="file" name="md5File" multiple="false" />
		<input type="submit" value="Download image(s)" />
	</form>
</fieldset>

<ul>
	{% for filename, md5 in images %}
		<li>
			<span class="filename">{{ filename }}</span>
			<img title="{{ filename }}" src="{{ publicImageDirectory }}/{{ filename }}" />
			<span class="md5">MD5: {{ md5 }}</span>
		</li>
	{% else %}
		<li>No images found</li>
	{% endfor %}
</ul>

{% endblock %}
