body{
	float:left;
	clear:left;
	font-family: Helvetica, sans-serif;
	background-color:#fff;
	width:100%;
	padding:20px;
	margin:0;
	box-sizing:border-box;
}

.flash{
	float:left;
	clear:left;
	width:100%;
	margin:15px 0;
	padding:5px 0;
	border-radius:3px;
	text-align:center;
}

.info{
	background:#eef;
	border:1px solid #000;
}

.alert{
	background:#fee;
	border:1px solid #000;
}

section{
	float:left;
	clear:left;
	width:100%;
	box-sizing:border-box;
}

fieldset{
	margin:0 0 15px 0;
	border:1px solid #ccc;
}

form{
	float:left;
	clear:left;
	width:100%;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

form>label,
form>input{
	float:left;
	clear:left;
}

ul{
	list-style:none;
	float:left;
	clear:left;
	width:100%;
	padding:0;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
	grid-gap:20px;
}

ul>li{
	float:left;
	width:100%;
	min-height:400px;
	text-align: center;
	line-height: 400px;
	box-sizing:border-box;
	position:relative;
	border:1px solid #ccc;
}

ul>li>img{
	max-width:100%;
	max-height:100%;
	box-sizing:border-box;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:20px;

}

ul>li>.filename{
	position:absolute;
	top:-20px;
	left:0;
	width:100%;
	line-height:20px;
	overflow:hidden;
}

ul>li>.md5{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:21px;
	line-height:21px;
	background:rgba(128, 128, 128, 0.5);
}
