{%  if flash.getMessage('alert') %}
<div class="flash alert">
	{{ flash.getMessage('alert') | first | raw }}
</div>
{% endif %}

{%  if flash.getMessage('info') %}
<div class="flash info">
	{{ flash.getMessage('info') | first | raw }}
</div>
{% endif %}

{% if errors.csrf %}
<div class="flash alert">
	{{ errors.csrf }}
</div>
{% endif %}
