<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Test</title>

		<link rel="stylesheet" href="/stylesheets/main.css" />

	</head>
	<body>
		{% include 'layouts/partials/flash.twig' %}

		<section>
		{% block content %}

		{% endblock %}
		</section>
	</body>
</html>
